<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="scripts/logout.js" defer></script>
    <title>Home</title>
</head>

<body>
    <header>
        <h1 class="h1-home">Home</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/alterar">Alterar Senha</a></li>
            <li><a href="/remover">Remover Conta</a></li>
        </ul>
    </nav>
    <main>
        <h1>Bem vindo(a), <%= usuarioNome %>!</h1>
        <form id="logoutForm">
            <button type="submit" class="btn">Logout</button>
        </form>
    </main>
</body>

</html>