<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="scripts/remover.js" defer></script>
    <title>Remoção</title>
</head>

<body>
    <div class="data-container">
        <main>
            <form id="removerForm">
                <h2>Remoção</h2>
                <p class="p-container">Insira seu email e sua senha para remover sua conta</p>
                <div class="input-container">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class='bx bx-envelope'></i>
                </div>
                <div class="input-container">
                    <input type="password" name="senha" placeholder="Senha" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button class="btn" type="submit">Remover</button>
            </form>
        </main>
    </div>
</body>

</html>